<div class="row container-fluid">

    <div class="col-xs-6">
        <div id="table23"></div>
    </div>


    <div class="col-xs-6">
        <h3>

            <strong>Figure 14.d: The Retailer has bought 7 Units, then sold 2 Units, and then sold another 8
                Units.</strong><br>
            If the Retailer in Figure 14.c sells another 8 Units, (s)he will have sold in total more Units (10) than
            (s)he had bought (7). This results in “negative” Numbers of Units. We interpret the three
            “negative” Units as a “loan” for the Retailer. At a later time within the same round, the Retailer must buy
            the 3 Units to repay
            the “loan”.
            <br><br>
            In Figure 14.d we see that selling the 8 Units removes the "X" of Units 1 to 5 and in addition obtains three
            extra Units that have zero (0 ECU) Earn(ings) per Unit. These Units are shown in the upper box with a
            negative Number of Unit, as shown in Figure 14.d
            <br><br>
            The total earnings of the Retailer are now 0 ECU.
            <br><br><br>
            Please make sure that you understand this. {% if auction.itype == auction.SUMMARY_INSTR %}
            If you do not, raise your hand.
        {% endif %}
        </h3>
    </div>

</div>
<script type="text/babel" src="/staticfiles/js/f23.js"></script>
