<div class="container-fluid row">


    <div class="col-xs-6">
        <h3>Figure 20 a-c: Offers Overview for different examples</h3>
        <table border="2" class="OO">
            <tr>
                <td class="OO"><img src="/staticfiles/images/instructions_fig_16a.png"
                                    alt="If you do not see the picture, please alert the experimenter" height="430"
                                    width="397"></td>
                <td class="down"><img src="/staticfiles/images/instructions_fig_16c.png"
                                      alt="If you do not see the picture, please alert the experimenter" height="430"
                                      width="397"></td>
            </tr>
            <tr>
                <td>
                    <h3>20.a Before</h3>
                </td>
                <td class="OO">
                    <h3>20.c After: a new BUY offer of 3 Units for a Price of 2 ECU has been made</h3></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="col-xs-6">
        <h3>
            If your offer cannot be matched for all the Units, your offer is added to the Offer Overview. Thus, if the
            Offer Overview is as in Figure 20.a (Before), and you make a BUY offer of 3 Units for a Price of 2 ECU, it
            will be added to the BUY Units in the second row and the Offer Overview will look as in Figure 20.c (After).
        </h3>
    </div>

</div>
