<div class="row container-fluid">

    <div class="col-xs-6">
        <div id="table16"></div>
    </div>
    <div class="col-xs-6">
        <h3>
            <strong>Figure 9.d: The Producer has sold 7 Units, then bought 2 Units, and then bought another 8
                Units.</strong><br>
            If the Producer in Figure 8.c buys another 8 Units, (s)he will have bought in total more Units (10) than
            (s)he had sold (7). This results in “negative” Numbers of Units. We interpret the three
            “negative” Units as “stockpiling” by the Producer. At a later time within the same round, the Producer can
            sell the 3 Units
            without incurring extra costs.
            <br><br>
            In Figure 9.d we see that buying the 8 Units removes the "X" of Units Numbers 1 to 5 and in addition obtains
            three extra Units that have a zero (0 ECU) Cost of Unit. These Units are shown in the upper box with a
            negative Number of Unit, as shown in Figure 9.d.
            {#<br><br>#}
            {#You can see that, as a result, the Total Cost has been lowered to a total of 0 ECU.#}
            <br><br><br>
            Please make sure that you understand this. {% if auction.itype == auction.SUMMARY_INSTR %}
            If you do not, raise your hand.
        {% endif %}
        </h3>
    </div>
</div>
<script type="text/babel" src="/staticfiles/js/f16.js"></script>
