<div class="row container-fluid">
    <div class="col-xs-6">
        <div id="Figure">
            <h3>Figure 8: The production cost</h3></u>
            <img src="/staticfiles/images/instructions_fig_04.png"
                 alt="If you do not see the picture, please alert the experimenter" class="img-responsive">
        </div>

    </div>

    <div class="col-xs-6">
        <h2>Production Cost</h2>

        <h3>Figure 8 shows a close-up of the Production Cost for the Producer. The Units are numbered in the first
            column labeled "Number of Unit". The column labeled "Cost of Unit" shows the cost of each Unit (but the
            numbers have been blurred in this figure).
            <br><br>
            {#            As you can see, selling the 3rd Unit costs {{ vouchers_1.2.value |floatformat }} ECU, the 4th#}
            {#            Unit {{ vouchers_1.3.value|floatformat }} ECU, the 5th Unit {{ vouchers_1.4.value|floatformat }} ECU, and so#}
            {#            on.#}
            {#            <br><br><br>br#}
        </h3>
    </div>
</div>