<div class="row container-fluid">
    <div class="col-xs-7">

        <h3>
            If you make a new offer, the program tries to match your offer with outstanding offers of other participants
            in the Offer Overview. (We will describe the Offer Overview in detail in the next section.)
            <br><br>
            If you made a SELL offer:<br>
            <ul>
                <li> a match occurs when there are outstanding BUY offers with a price higher than yours
                    (they are willing to pay more than the price you asked).
                </li>
            </ul>
            If you made a BUY offer:<br>
            <ul>
                <li> a match occurs when there are outstanding SELL offers with a price lower than
                    yours (they are willing to sell for less than what you are offering).
                </li>
            </ul>
            <br>
            When there are matches, the program selects the match that has the <u>best price for your new offer</u>
            (lowest if you made a BUY offer, highest if you made a new offer). The program then clears your offer. Your
            offer is erased and a transaction is registered with the transaction price of the outstanding offer.
            <br><br>
            If the outstanding offer was for less Units than the Number of Units in your offer, your offer is split in a
            part that is cleared and a part that cannot be cleared by this match. The program then looks if there are
            other matching offers of other participants in the Offer Overview to clear with.
            <br><br>
            If only a part of your offer can be matched, the remaining part of your offer
            is shown in the Offer Overview, waiting for new matching offers from other participants. It is up to you if
            you leave this remaining offer in the Offer Overview, or if you cancel it by pressing the cancel button or
            by posting a new offer.
        </h3>
    </div>

</div>
