<div class="container-fluid row">


    <div class="col-xs-6">
        <h3>Figure 20 a-b: Offers Overview for different examples</h3></u>
        <table border="2" class="OO">
            <tr>
                <td><img src="/staticfiles/images/instructions_fig_16a.png"
                         alt="If you do not see the picture, please alert the experimenter" height="430" width="397">
                </td>
                <td class="down"><img src="/staticfiles/images/instructions_fig_16b.png"
                                      alt="If you do not see the picture, please alert the experimenter" height="430"
                                      width="397"></td>
            </tr>
            <tr>
                <td>
                    <h3>20.a Before</h3>
                </td>
                <td class="OO">
                    <h3>20.b After: a new BUY offer of 3 Units for a Price of 10 ECU has been made</h3></td>
            </tr>
        </table>
    </div>

    <div class="col-xs-6">
        <h3>
            When you make a BUY offer, your offer will first be matched to the existing SELL offer with the best Price
            available (best means cheapest as you want to buy).
            <br><br>
            Thus, if the Offer Overview is as in Figure 20.a (Before), and you made a new BUY offer of 3 Units for a
            Price of 10 ECU, your BUY offer would first be matched with the SELL offer in the last (third) row. You
            would thus get 1 Unit for a Price of 4 ECU. The remaining two Units in your BUY offer would be matched with
            the Units in the second row, for a Price of 5 ECU. You would thus get 3 Units in total, one for a Price of 4
            ECU and two for a Price of 5 ECU.
            <br><br>
            The Offer Overview will now look as in Figure 20.b (After), as you bought all the units of the SELL offer in
            Figure
            20.a (Before) for a Price of 4 ECU (in the last (third) row) and 2 of the 3 Units for a Price of 5 ECU (in
            the second row).
            <br><br>
            Please note that transactions happened instantly, you can see the result in the Transactions overview.

        </h3>
    </div>


</div>
