{% load templatetags %}
<div class="row container-fluid">


    <div class="col-xs-6">
        <h3>Figure 13: Earnings Overview in {{ spot_market }}</h3>
        <img src="/staticfiles/images/instructions_fig_09.png"
             alt="If you do not see the picture, please alert the experimenter" class="img-responsive">
    </div>
    <br>
    <div class="col-xs-6">
        <h2>3.2.1 Earnings Overview in {{ spot_market }}</h2>
        <h3>
            Figure 13 shows a close-up of the Earnings Overview for the Retailer. The Units are numbered in the first
            column labeled "Number of Unit". The column labeled "Earn of Unit" shows the Earnings of each of the Units
            bought (but the numbers have been blurred in this figure).
            <br><br>
            For each Unit bought, <strong>{{ treatment.retail_price }} ECU is earned, up to the number of UNITS
            DEMANDED</strong>, which is 13 in the example in Figure 13.
            Thus buying one Unit earns {{ treatment.retail_price }} ECU, buying two Units a total
            of {% widthratio treatment.retail_price 1 2 %} ECU, buying three Units a total
            of {% widthratio treatment.retail_price 1 3 %} ECU, and so on.

            <br><br>
            As you can see in Figure 13, <strong>for Units bought in addition to the number of UNITS DEMANDED, zero (0
            ECU) is earned</strong>.

            As mentioned before, UNITS DEMANDED is obtained by randomly drawing first the MARKET UNITS DEMANDED as an
            integer number between {{ treatment.uniform_min }} and {{ treatment.uniform_max }}
            with each number having the same probability of being chosen and dividing by the number of retailers (thus
            by {{ treatment.RE_per_group }} ) to get the number of UNITS DEMAND. (The possible rest is assigned as evenly
            as possible and at random).
            <br><br>


            Thus, as mentioned before, as the average of the MARKET UNITS DEMANDED is equal to
            <strong>{{ treatment.demand_avg_theory|floatformat }}</strong> and the number of retailers is equal to
            <strong>{{ treatment.RE_per_group }}</strong>, the average of UNITS DEMANDED for each Retailer is equal to
            <strong>{{ treatment.demand_avg_theory|floatformat }}/{{ treatment.RE_per_group }}
                = {% widthratio treatment.demand_avg_theory treatment.RE_per_group 1 %}</strong> and the standard deviation to
            <strong>{{ treatment.demand_sd_theory|floatformat }}/{{ treatment.RE_per_group }}
                = {{ treatment.demand_sd_theory|div:treatment.RE_per_group |floatformat:"-2"}}
            </strong>.

            <br><br><br>
            Please make sure that you understand this. {% if auction.itype == auction.SUMMARY_INSTR %}
            If you do not, raise your hand.
        {% endif %}
        </h3>
    </div>

</div>
{#<script type="text/babel" src="/staticfiles/js/f20.js"></script>#}
