<div class="row container-fluid">
<div class="container-fluid row">
    <h1>5. Making an offer</h1>
    <div class="col-xs-5">
        <h2>Figure 18: Making an offer</h2>
        <img src="/staticfiles/images/instructions_fig_14.png"
             alt="If you do not see the picture, please alert the experimenter" height="171" width="456">
    </div>
    <br>
    <div class="col-xs-6">
        <h3>
            In the box labeled “Submit an offer” as in Figure 18, an offer can be made. Fill out the Price and the
            Quantity you wish and then press SELL or BUY.
            <br><br>
            After you made an offer, it will become visible in the box below, labeled “My Offers Overview”. See Figure
            19 for an example.
            <br><br><br>
        </h3>
    </div>

</div>

<div class="row container-fluid">

    <div class="col-xs-5">
        <h3>Figure 19: My Offers Overview for a specific example</h3>
        <img src="/staticfiles/images/instructions_fig_15.png"
             alt="If you do not see the picture, please alert the experimenter" height="200" width="530">
    </div>


    <div class="col-xs-6">
        <br>
        <h3>
            In the example in Figure 16, the participant made both a SELL and a BUY offer. This is allowed and you will
            never make a transaction “with yourself” (even if your BUY offer quotes a higher price than your SELL offer,
            your own orders will never be matched with one another).
            <br><br>
            You cannot have more than one SELL and one BUY offer at the same time. If you make a second offer of the
            same type, the previous one is cancelled and disappears.
            <br><br>
            Note that you can also cancel your standing offer by pressing the Cancel button.
        </h3>
    </div>


</div>
</div>