<div class="row container-fluid">
    <div class="row">
        <div class="col-xs-5">
            <div id="table14"></div>
        </div>

        <div class="col-xs-7">
            <h3>
                As soon as the Producer sells Units, the sold Units are marked with an "X" in the column <span
                    style="background-color: orangered">Sold</span>. Figure 9 gives an example to show how the selling
                and
                buying of Units is accounted and visualized on your screen.
                <br><br><br>
                <strong>Figure 9.a: The Producer has not sold anything yet.</strong><br>
                At the start of a round, if the Producer hasn’t sold anything yet, none of the Units
                are marked with an "X" in the column <span style="background-color: orangered">Sold</span>.
                <br><br><br>
                <strong>Figure 9.b: The Producer has sold 7 Units.</strong><br>
                When the Producer in Figure 9.a sells, for example, 7 Units, the Producer sells the first seven Units
                without an "X" , which are in this example the Units 1 to 7. These Units are then marked with an "X"
                in the column <span style="background-color: orangered">Sold</span> to indicate that they have been
                sold. The column now looks as in Figure 9.b.
                <br><br>
                As you can see, the Producer has incurred a cost of {{ vouchers_1.6.value |floatformat }} ECU for the
                last
                unit (Cost of Unit) and a total cost of {{ vouchers_1.0.value |floatformat }}
                + {{ vouchers_1.1.value|floatformat }} + {{ vouchers_1.2.value |floatformat }}
                + {{ vouchers_1.3.value|floatformat }} + {{ vouchers_1.4.value|floatformat }}
                + {{ vouchers_1.5.value |floatformat }} + {{ vouchers_1.6.value |floatformat }} = {{ voucher_calc }} ECU
                <br><br>
                If the Producer in Figure 9.b would now like to sell one more Unit, the cost of selling the Unit is
                indicated by the Cost of Unit of the first Unit without "X", which is in this example Unit 8 with a Cost
                of Unit
                of {{ vouchers_1.7.value }} ECU.
                <br><br>
                Please make sure that you understand this.
                {% if auction.itype == auction.SUMMARY_INSTR %}
                    If you do not, raise your hand.
                {% endif %}
            </h3>
        </div>
    </div>
</div>
<script type="text/babel" src="/staticfiles/js/f14.js"></script>
