<div class="row container-fluid">
</div>
<div class="col-xs-6">
    <div id="table24"></div>
</div>

<div class="col-xs-6">
    <h3>

        <strong>Figure 14.e: The Retailer has bought 7 Units, then sold 2 Units, then sold another 8 Units and then
            bought 10 Units.</strong><br>
        If the Retailer in Figure 14.d now buys again 10 Units, the three sold units (the ones with negative numbers)
        disappear from the column and
        the remaining 7 Units are marked with an "X" in the column <span
            style="background-color: #c6effb ">Bought</span>, starting with Unit 1. Thus, Units 1 till 7 are
        marked with a cross, as shown in Figure 14.e.
        {#<br><br>#}
        {#You can see in the column that, as a result, the Total Earn(ings) have been increased back to a total of <strong>{% widthratio treatment.retail_price 1 7 %}</strong> ECU.#}
        <br><br><br>
        Please make sure that you understand this. {% if auction.itype == auction.SUMMARY_INSTR %}
        If you do not, raise your hand.
    {% endif %}
    </h3>
</div>


<script type="text/babel" src="/staticfiles/js/f24.js"></script>
