<div class="row container-fluid">
    <div class="col-xs-6">
        <div id="table17"></div>
    </div>

    <div class="col-xs-6">
        <h3>
            <strong>Figure 9.e: The Producer has sold 7 Units, then bought 2 Units, then bought another 8 Units and then
                sold 10 Units.</strong><br>
            If the Producer in Figure 9.d now sells again 10 Units, the three bought units (the ones with negative
            numbers) disappear from the column and
            the remaining 7 Units are marked with an "X" in the column <span
                style="background-color: orangered">Sold</span>, starting with Unit 1. Thus, Units 1 till 7 are
            marked with a cross, as shown in Figure 9.e.
            {#<br><br>#}
            {#You can see that, as a result, the Total Cost has been increased back to a total of 5.8 ECU.#}
            <br><br><br>
            Please make sure that you understand this. {% if auction.itype == auction.SUMMARY_INSTR %}
            If you do not, raise your hand.
        {% endif %}
        </h3>
    </div>

</div>
<script type="text/babel" src="/staticfiles/js/f17.js"></script>
