<div class=" container-fluid row">
    <h2>3.2.2 Earnings Overview in {{ forward_market }}</h2>
    <div class="col-xs-6">
        <h2>Figure 17: Earnings Overview in stage 1</h2>
        <img src="/staticfiles/images/instructions_fig_13.png"
             alt="If you do not see the picture, please alert the experimenter" class="img-responsive">
    </div>


    <div class="col-xs-6">


        <h3>
            For Retailers, the information shown in the tables is somewhat different in {{ forward_market }}, because the number of
            UNITS DEMANDED is not know yet. The Earnings of each Unit (Earn of Unit) are therefore shown as “?”.<br><br>
        </h3>
        <br>
    </div>


</div>
