<div class="container-fluid row">


    <div class="col-xs-6">
        <h3>Figure 20 a-d: Offers Overview for different examples</h3>
        <table border="2" class="OO">
            <tr>
                <td class="OO"><img src="/staticfiles/images/instructions_fig_16a.png"
                                    alt="If you do not see the picture, please alert the experimenter" height="430"
                                    width="397"></td>
                <td class="down"><img src="/staticfiles/images/instructions_fig_16d.png"
                                      alt="If you do not see the picture, please alert the experimenter" height="430"
                                      width="397"></td>
            </tr>
            <tr>
                <td class="OO">
                    <h3>20.a Before</h3>
                </td>
                <td class="OO">
                    <h3>20d After: a new BUY offer of 11 Units for a Price of 9 ECU has been made</h3></td>
            </tr>
        </table>
    </div>
    <br>
    <div class="col-xs-6">
        <h3>
            If the Offer Overview is again as in Figure 20.a (Before), and you make a BUY offer of 11 Units for a Price
            of 9, you will buy all the outstanding SELL offers, and the Offer Overview will look as in Figure 20.d(
            After).
            <br><br>
            You thus get a total of 6 Units, 1 Unit for a Price of 4 ECU, 3 Units for a Price of 5 ECU and 2 Units for a
            Price of 7 ECU. As there are still 5 Units left in your offer, they will be added to the BUY offers.
            <br><br>
            The same logic applies when you make SELL offers.
        </h3>
    </div>

</div>
