<style>
    .whitefont {
        color: white;
        font-size: 150%;
    }
</style>

<div id="i_navbar" class="row container-fluid navbar navbar-default navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="row container-fluid">
            <div class="col-md-10">
                {% if auction.show_ids %}
                    {% include 'instructions/show_ids.html' %}
                {% endif %}
            </div>


                            <div class="whitefont" id="Timer"

                           >
                <center><h4>
                </h4></center>
            </div>



        </div>

    </div>
</div>
