{% load staticfiles %}
{% block main_content %}
<style>

</style>

<link href="/staticfiles/bootstrap/css/bootstrap.css" rel="stylesheet">
<script scr="/staticfiles/bootstrap/js/bootstrap.js"></script>
<script src="/staticfiles/js/react.js"></script>
<script src="/staticfiles/js/react-dom.js"></script>
<script src="/staticfiles/js/browser.js"></script>
<script src="/staticfiles/js/jquery-2.1.4.js"></script>
<script src="/staticfiles/js/plotly-latest.min.js"></script>
<script src="/staticfiles/bootstrap/js/react-bootstrap.js"></script>
<script src="/staticfiles/js/gaussian.js"></script>
<script  type="text/babel" src="/staticfiles/js/distribution_interface.js"></script>

<div class="whitefont">
    {% if auction.show_ids %}
        <strong>{{ user.username}}</strong>, player_id <strong>{{ player.id }}</strong>, <strong>{{ player.group }}</strong>, role <strong>{{ player.role }}</strong>
    {% endif %}
</div>
</div>

{# load react distrib app and put it in this container #}
<div id="Distrib_app"></div>

<!--<script>-->

<!--});-->
 // define refresh function
// {# function RefreshCheck() {#}
// {#     // call to api if page should be refreshed#}
// {#      $.get("/api/refresh/", function (result) {#}
// {#         var refresh_condition = result.pagerefresh_now#}
// {#         // if false, do nothing#}
// {#         if (refresh_condition == false) {#}
// {#             //console.log("false, no refresh!")#}
// {#         }#}
// {#         if (refresh_condition == true) {#}
// {#             //console.log("true!, refresh")#}
// {#             // set post request to change refresh variable in db#}
// {#             $.post("/api/refresh/", {"refresh_status": "toberefreshed"});#}
// {#             // reload the page#}
// {#             location.reload();#}
// {#         }#}
// {#     })#}
// {# }#}
// {# // run the function when page loads#}
// {# RefreshCheck();#}
// {# // run the function every 2s#}
// {# setInterval(function () {RefreshCheck()}, {{ auction.time_refresh_check }})#}
//
// {#{% include 'instructions/refreshCheck.html' %}#}
{% endblock %}