{% load humanize %}
<script type="text/babel" src="/staticfiles/js/admin_table.js"></script>

<div class="row">

    {% if not pandas_installed %}<h2><strong> <span class="alert-danger">
    Panda's installed: {{ pandas_installed }}!</span></strong></h2>
    {% else %}
    <span class="alert-success">
    Panda's installed: {{ pandas_installed }}</span>
    {%  endif %}

<span class="alert-danger"></span>
    <input type="hidden" id="myVar" name="variable" value="{{ auction.time_refresh_data }}">
    <h4>I am <strong>{{ user.username }}</strong> with id <strong>{{ user.id }}</strong></h4>
    <div class="col-lg-8">
        <div clas="row">
            <h4 class="alert-warning">SANL</h4>
            <form action="{% url "master_sanl_handler" %}" method="post">
                {% csrf_token %}
                <button class="alert-success" name="create_xls" value="True">create_xls</button>
            </form>

        <br><br><br><br><br>


            <b>Existing feedback files:</b>
            <table class="align-left">
                    <thead>
                    <tr>
                    </tr>
                <tbody>
            {% for files in list_sizedir%}
                     {% if auction_detail.active %}
                            <tr class="bg-success">
                                {% else %}
                            <tr>
                        {% endif %}

                        <td class="text-left">
                            {{ forloop.counter|rjust:"60"}}
                            <input type="checkbox" name="q" value="{{ files.0|rjust:"60" }}"
                        {% if auction_detail.active %}
                               checked
                            {% endif %}>
                       <b>{{ files.0 }}</b>    ({{ files.1 }})
                    </td>
                 {% endfor %}

                </tbody>
                 </table>


            <br><br><br><br><br><br><br>
        averages for each group



            <h4>The data are</h4>
            <form action="{% url "master_sanl_handler" %}" method="post">
                {% csrf_token %}
                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>date<br>created</th>
                        <th>pk</th>
                        <th>Tr</th>
                        <th>Gr</th>
                        <th>price<br>av fm</th>
                        <th>price<br>th fm</th>
                        <th>forw<br>prem</th>
                        <th>implied<br>RA</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for auction_detail in auction_details %}
                        {% if auction_detail.active %}
                            <tr class="bg-success">
                                {% else %}
                            <tr>
                        {% endif %}
                        <td>{{ forloop.counter }}</td>
                    <td><input type="radio" name="q" value="{{ auction_detail.pk }}"
                            {% if auction_detail.active %}
                               checked
                            {% endif %}
                               id="{{ auction_detail.pk }}">
                        <b>{{ auction_detail.pk |intcomma }}</b>
                    </td>
                    <td>{{ auction_detail.treatment.idd }}</td>
                    <td>{{ auction_detail.file_name }}
                    <td>{{ auction_detail.created }}</td>
                        <td>{{ auction_detail.db_size }}</td>
                    <td>{{ auction_detail.treatment.total_periods }}</td>
                    <td>{{ auction_detail.treatment.total_groups }}</td>
                    <td>{{ auction_detail.treatment.retail_price|floatformat:"-2" }}</td>
                    <td>{{ auction_detail.treatment.PR_per_group }}</td>
                    <td>{{ auction_detail.treatment.RE_per_group }}</td>
                    <td>{{ auction_detail.demand_avg|floatformat:"-2" }}</td>
                    <td>{{ auction_detail.price_avg|floatformat:"-2" }}</td>
                    <td>{{ auction_detail.treatment.F}}</td>
                    <td>{{ auction_detail.treatment.a|floatformat:"-5" }}</td>
                    <td>{{ auction_detail.treatment.mu|floatformat:"-2" }}</td>
                    <td>{{ auction_detail.treatment.sigma|floatformat:"-2" }}</td>
                    <td>{{ auction_detail.treatment.convexity_parameter|floatformat:"-2" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

{#        <button class="alert-success" name="create_xls" value="True">create_xls</button>#}

        </form>
        </div>

        <div id="player_table"></div>
        <br/>

    </div>
</div>